<div class="card m-3">
  <h5 class="card-header">Login</h5>
  <div class="card-body">
    @if (token) {
      <div class="alert alert-success">Login successful!</div>
    }
    @if (errorMessage) {
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    }
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Login</label>
        <input
          type="text"
          formControlName="login"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['login'].errors }"
        />
        @if (submitted && form["login"].errors) {
          <div class="invalid-feedback">
            @if (form["login"].errors?.["required"]) {
              <div>Login is required</div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
        />
        @if (submitted && form["password"].errors) {
          <div class="invalid-feedback">
            @if (form["password"].errors?.["required"]) {
              <div>Password is required</div>
            }
          </div>
        }
      </div>
      <div class="text-center">
        @if (loading) {
          <mat-spinner diameter="40"></mat-spinner>
        } @else {
          <button class="btn btn-primary mr-1">Login</button>
        }
      </div>
    </form>
  </div>
</div>
